.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

.Rprofile

inst/python/BracketOrderExample.py

inst/python/PythonInteractive.py

estx50.csv

inst/python/ESTX50Study.py

inst/python/__pycache__/
/doc/
/Meta/

R/sandbox.R
