.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

.Rprofile

inst/python/BracketOrderExample.py

inst/python/PythonInteractive.py

estx50.csv

inst/python/ESTX50Study.py

inst/python/__pycache__/
/doc/
/Meta/

R/sandbox.R

data.rds

inst/python/sandbox.py

inst/python/tdata_py/__pycache__/

*.log

*.Rd

tests/test_diag.R

R/convenience.R

tests/test-results-1

*.html

*.md
!CHANGELOG.md

historical_config.json

renv/
renv.lock
